icecream==2.1.5
openai==1.97.0
protobuf==6.31.1
pytest==8.4.1
python-dotenv==1.1.1
qdrant_client==1.14.3
sentence_transformers==5.0.0
tenacity==8.5.0
tomli==2.2.1
google-adk
chainlit
qdrant-client
sentence-transformers
